/* src/styles/About.css */
p {
    text-align: center;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the paragraph */
  }
  
  .about-link {
    text-decoration: underline; /* Add underline to the hyperlink */
    color: #e5e5e6; /* Set the default hyperlink color */
    transition: color 0.3s ease; /* Add a smooth transition effect for color change */
  
    /* Hover state */
    &:hover {
      color: #03fccf; /* Change the color on hover to a different shade */
      text-decoration: underline; /* Ensure underline on hover */
    }
  }
  /* src/styles/App.css */
  body {
    font-family: 'Silkscreen', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically as well */
    height: 100vh;
    margin: 0;
    background-color: #282c35;
    color: #e5e5e6;
  }
  