/* src/styles/App.css */
body {
  font-family: 'Silkscreen', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  background-color: #282c35;
}

h1 {
  margin-bottom: 10px;
  color: #e5e5e6;
  font-family: 'Silkscreen', monospace; /* Apply Silkscreen font to h1 */
}

a {
  text-decoration: none;
  color: #e5e5e6;
}

.app-container {
  text-align: center;
  margin-top: 30px; /* Increase the margin between header and body */
}

header {
  margin-bottom: 30px; /* Increase the margin at the bottom of the header */
}

nav {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 20px;
}


