.blog-list {
  display: flex;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.blog-image-container {
  position: relative;
  flex: 1;
  margin-right: 20px; /* Increase margin between images */
  margin-bottom: 20px; /* Increase margin below each row of images */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.blog-image {
  width: 100%; /* Use 100% width to fill the container */
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Match the width of .blog-image */
  height: 100%; /* Match the height of .blog-image */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e5e6;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.7); /* Darker semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.4s;
}

.blog-image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}
