h2 {
        max-width: 750px; /* Adjust the max-width as needed */
        margin: 0 auto; /* Center the paragraph */
        text-align: center;
        text-align-last: center; /* Left-align the last line */
        line-height: 1.2; /* Add line height for better readability */
}

figure {
        display: table;
        margin-left: auto;
        margin-right: auto;
}

img {
        height: 375px;
        width: auto;
}

figcaption {
        display: table-caption;
        caption-side: bottom;
        font-size: x-small;
}